@use "./utils/mixins" as mix;
body {
    overflow: hidden;
}

main {
    @include mix.flex(row, start);
    width: 95%;
    max-width: 1100px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.quotes, .curves, .pattern_bg {
    position: absolute;
}

.quotes {
    left: 5.6em;
    top: -0.8em;
}

.curves {
    bottom: 0;
    left: 0;
}

.pattern_bg {
    right: -6em;
    bottom: -8.2em;
    z-index: -2;
}

footer {
    width: 100%;
}

footer img {
    width: 100%;
    max-width: 500px;
}

.mobile {
    display: none;
}

@media (max-width: 1000px) {
    main {
        @include mix.flex(column, center);
        position: inherit;
        transform: inherit;
        flex-flow: column-reverse;
        overflow: hidden;
    }
    .pattern_bg {
        width: 100%;
        top: 0em;
        left: 0;
        max-width: 800px;
    }
    .quotes {
        display: none;
    }
    .mobile {
        display: block;
        max-width: 100px;
        width: 20%;
        position: absolute;
        left: 35%;
        top: -1em;
    }
}